<!-- Pantalla de carga  -->
<app-loading *ngIf="flag_loading"></app-loading>

<!-- Notificación -->
<p-toast key="serverResponse" position="bottom-center" [breakpoints]="{'920px': {width: '90%', right: '5', left: '5'}}"></p-toast>

<!-- SingIn  -->
<div class="container-fluid animate__animated animate__fadeIn" style="height: 100vh;">
    <div class="row h-100">

        <!-- Titulo -->
        <div class="col-sm-12 col-md-8 col-lg-8 d-flex align-items-center justify-content-center title-container">
            <div class="text-center">
                <h1 class="text-light text-table-font">
                    AsesoresApp
                </h1>
            </div>
        </div>

        <!-- Inicio de sesión  -->
        <div class="col-sm-12 col-md-4 col-lg-4 d-flex align-items-center justify-content-center">
            <div class="w-75">
                <h4 class="text-table-font mb-3 text-center">Inicio de sesión</h4>
                <!-- Formulario -->
                <form [formGroup]="form">
                    <!-- Código -->
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="floatingEmail" placeholder="212121212" formControlName="institutional_code" autocomplete="off">
                        <label for="floatingEmail">Código institucional</label>
                    </div>
                    <!-- Contraseña -->
                    <div class="form-floating mb-3">
                        <input type="password" class="form-control" id="floatingPassword" placeholder="Password" formControlName="password">
                        <label for="floatingPassword">Contraseña</label>
                    </div>
                </form>
                <!-- Botones -->
                <div class="row">
                    <div class="col">
                        <!-- Acceder -->
                        <button type="button" class="btn btn-dark float-start" (click)="signIn()">Acceder</button>
                        <!-- Crear -->
                        <button type="button" class="btn btn-dark float-end" (click)="flag_show_create_user = true">Nueva cuenta</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal para crear una cuenta  -->
<app-sign-up [flag_create_user]="flag_show_create_user" (flag_response)="flag_show_create_user = $event"></app-sign-up>