<div class="row">
    <div class="col">
        <!-- Titulo  -->
        <h6 class="">
            <!-- Icono -->
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-in-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M6 3.5a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 0-1 0v2A1.5 1.5 0 0 0 6.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-8A1.5 1.5 0 0 0 5 3.5v2a.5.5 0 0 0 1 0z"/>
                <path fill-rule="evenodd" d="M11.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H1.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708z"/>
            </svg>
            Joins
        </h6>
        <!-- Linea horizontal -->
        <hr>
    </div>
</div>

<div class="row">
    <div class="col">
        <div class="card shadow">
            <div class="card-header">
                <!-- Asesoría  -->
                <p class="m-2"><strong>{{consultation.subject.name | titlecase}}</strong></p>
            </div>
            <div class="card-body card-body-height table-responsive table-responsive-height">
                <table class="table table-hover table-striped table-centered">
                    <thead>
                        <tr>
                            <th scope="col">Fecha de creación</th>
                            <th scope="col">Nombre(s) del estudiante</th>
                            <th scope="col">Apellido(s) del estudiante</th>
                            <th scope="col">Paso actual</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let join of joins">
                            <!-- Creación  -->
                            <td><p class="my-2">{{join.date_creation}}</p></td>
                            <!-- Nombre -->
                            <td><p class="my-2">{{join.user.first_name | titlecase}}</p></td>
                            <!-- Apellido  -->
                            <td><p class="my-2">{{join.user.last_name | titlecase}}</p></td>
                            <!-- Paso  -->
                            <td><p class="my-2">{{join.step | titlecase}}</p></td>
                            <td>
                                <!-- Botón  -->
                                <div class="dropdown my-2 float-end">
                                    <a class="btn btn-dark dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                       Investigar
                                    </a>
                                    <ul class="dropdown-menu dropdown-menu-dark">
                                        <!-- Detalles  -->
                                        <li>
                                            <a class="dropdown-item cursor-pointer">Detalles</a>
                                        </li>
                                        <!-- Divisor  -->
                                        <li><hr class="dropdown-divider"></li>
                                        <!-- Eliminar  -->
                                        <li>
                                            <a class="dropdown-item cursor-pointer">Eliminar</a>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>