<!-- Pantalla de carga  -->
<app-loading *ngIf="loading_flag"></app-loading>

<div class="row animate__animated animate__fadeIn">
    <div class="col">

        <div class="row">
            <div class="col">
                <!-- Titulo  -->
                <h6 class="">
                    <!-- Icono -->
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-in-right" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M6 3.5a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 0-1 0v2A1.5 1.5 0 0 0 6.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-8A1.5 1.5 0 0 0 5 3.5v2a.5.5 0 0 0 1 0z"/>
                        <path fill-rule="evenodd" d="M11.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H1.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708z"/>
                    </svg>
                    Joins
                </h6>
                <!-- Linea horizontal -->
                <hr>
            </div>
        </div>
        
        <div class="row">
            <div class="col">
                <div class="card shadow">
                    <div class="card-header">
                        <!-- Asesoría  -->
                        <p class="text-center"><strong>Asesoría</strong></p>
                        <div class="row">
                            <div class="col-12 col-md-6 col-lg-6 mb-1 mb-md-0 mb-lg-0">
                                <ul class="list-group">
                                    <!-- Cátedra  -->
                                    <li class="list-group-item">
                                        <p class="mb-0"><strong>Cátedra</strong></p>
                                        <hr class="my-0">
                                        <p *ngIf="consultation" class="my-0">{{consultation.subject.name | titlecase}}</p>
                                    </li>
                                    <!-- Día  -->
                                    <li class="list-group-item">
                                        <p class="mb-0"><strong>Día</strong></p>
                                        <hr class="my-0">
                                        <p *ngIf="consultation" class="my-0">{{consultation.day | titlecase}}</p>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-12 col-md-6 col-lg-6">
                                <ul class="list-group">
                                    <!-- Horario  -->
                                    <li class="list-group-item">
                                        <p class="mb-0"><strong>Horario</strong></p>
                                        <hr class="my-0">
                                        <p *ngIf="consultation" class="my-0">De {{consultation.start}}:00 a {{consultation.end}}:00</p>
                                    </li>
                                    <!-- Numero de joins  -->
                                    <li class="list-group-item">
                                        <p class="mb-0"><strong>Número de joins</strong></p>
                                        <hr class="my-0">
                                        <p *ngIf="consultation" class="my-0">{{consultation.joins.length}}</p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="card-body card-body-height table-responsive table-responsive-height">
                        <table class="table table-hover table-striped table-centered">
                            <thead>
                                <tr>
                                    <th scope="col">Fecha de creación</th>
                                    <th scope="col">Nombre(s) del estudiante</th>
                                    <th scope="col">Apellido(s) del estudiante</th>
                                    <th scope="col">Paso actual</th>
                                    <th scope="col"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let join of joins">
                                    <!-- Creación  -->
                                    <td><p class="my-3">{{join.date_creation}}</p></td>
                                    <!-- Nombre -->
                                    <td><p class="my-3">{{join.user.first_name | titlecase}}</p></td>
                                    <!-- Apellido  -->
                                    <td><p class="my-3">{{join.user.last_name | titlecase}}</p></td>
                                    <!-- Paso  -->
                                    <td>
                                        <!-- En proceso -->
                                        <p *ngIf="join.step == 'inProgress'" class="my-3 text-truncate">
                                            <span class="text-success">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-circle-fill" viewBox="0 0 16 16">
                                                    <circle cx="8" cy="8" r="8"/>
                                                </svg>
                                            </span>
                                            En proceso
                                        </p>
                                        <!-- Retroalimentación  -->
                                        <p *ngIf="join.step == 'inLimbo'" class="my-3 text-truncate">
                                            <span class="text-warning">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-circle-fill" viewBox="0 0 16 16">
                                                    <circle cx="8" cy="8" r="8"/>
                                                </svg>
                                            </span>
                                            Retroalimentación
                                        </p>
                                        <!-- Finalizado  -->
                                        <p *ngIf="join.step == 'finished'" class="my-3 text-truncate">
                                            <span class="text-danger">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-circle-fill" viewBox="0 0 16 16">
                                                    <circle cx="8" cy="8" r="8"/>
                                                </svg>
                                            </span>
                                            Finalizado
                                        </p>
                                    </td>
                                    <td>
                                        <!-- Botón  -->
                                        <div class="dropdown my-2 float-end">
                                            <a class="btn btn-dark dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                               Investigar
                                            </a>
                                            <ul class="dropdown-menu dropdown-menu-dark">
                                                <!-- Detalles  -->
                                                <li>
                                                    <a class="dropdown-item cursor-pointer" (click)="show_modal_view_join(join, consultation)">Detalles</a>
                                                </li>
                                                <!-- Avanzar  -->
                                                <li *ngIf="join.step == 'inProgress'">
                                                    <a class="dropdown-item cursor-pointer" (click)="show_finish_join_component(join, consultation)">Avanzar</a>
                                                </li>
                                                <!-- Divisor  -->
                                                <li><hr class="dropdown-divider"></li>
                                                <!-- Eliminar  -->
                                                <li>
                                                    <a class="dropdown-item cursor-pointer">Eliminar</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Componente para ver el join -->
<app-view-join></app-view-join>

<!-- Componente para dar avance al join -->
 <app-finish-join (set_reload_joins)="find_consultation()"></app-finish-join>