<!-- Pantalla de carga  -->
<app-loading *ngIf="flag_loading"></app-loading>

<!-- Notificación -->
<p-toast key="serverResponse" position="bottom-center" [breakpoints]="{'920px': {width: '90%', right: '5', left: '5'}}">></p-toast>

<div class="row">
    <div class="col">
        <!-- Titulo  -->
        <h6 class="">
            <!-- Icono -->
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-in-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M6 3.5a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 0-1 0v2A1.5 1.5 0 0 0 6.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-8A1.5 1.5 0 0 0 5 3.5v2a.5.5 0 0 0 1 0z"/>
                <path fill-rule="evenodd" d="M11.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H1.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708z"/>
            </svg>
            Joins
        </h6>
        <!-- Barra horizontal -->
        <hr>
    </div>
</div>

<div class="row">
    <div class="col">
        <div class="card shadow">
            <div class="card-header">
                <div class="row">
                    <div class="col-12 col-md-6 col-lg-6 mb-0 mb-md-1 mb-lg-1">
                        <ul class="list-group">
                            <!-- Nombre(s) del estudiante -->
                            <li class="list-group-item">
                                <p class="mb-0"><strong>Nombre(s) del estudiante</strong></p>
                                <p *ngIf="user" class="mt-0 mb-1">{{user.first_name | titlecase}}</p>
                            </li>
                            <!-- Apellido(s) del estudiante -->
                            <li class="list-group-item">
                                <p class="mb-0"><strong>Apellido(s) del estudiante</strong></p>
                                <p *ngIf="user" class="mt-0 mb-1">{{user.first_name | titlecase}}</p>
                            </li>
                        </ul>
                    </div>
                    <div class="col-12 col-md-6 col-lg-6 mb-0 mb-md-1 mb-lg-1">
                        <ul class="list-group">
                            <!-- Código del estudiante -->
                            <li class="list-group-item">
                                <p class="mb-0"><strong>Código del estudiante</strong></p>
                                <p *ngIf="user" class="mt-0 mb-1">{{user.institutional_code}}</p>
                            </li>
                            <!-- Número de joins -->
                            <li class="list-group-item">
                                <p class="mb-0"><strong>Número de joins</strong></p>
                                <p *ngIf="user" class="mt-0 mb-1">{{joins.length}}</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="card-body card-body-height table-responsive table-responsive-height">
                <table class="table table-hover table-striped table-centered">
                    <thead>
                        <tr>
                            <th scope="col">Fecha de creación</th>
                            <th scope="col">Nombre(s) del estudiante</th>
                            <th scope="col">Apellido(s) del estudiante</th>
                            <th scope="col">Paso actual</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let join of joins">
                            <!-- Creación  -->
                            <td><p class="my-3">{{join.date_creation}}</p></td>
                            <!-- Nombre -->
                            <td><p class="my-3">{{join.user.first_name | titlecase}}</p></td>
                            <!-- Apellido  -->
                            <td><p class="my-3">{{join.user.last_name | titlecase}}</p></td>
                            <!-- Paso  -->
                            <td>
                                <!-- En proceso -->
                                <p *ngIf="join.step == 'inProgress'" class="my-3 text-truncate">
                                    <span class="text-success">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-circle-fill" viewBox="0 0 16 16">
                                            <circle cx="8" cy="8" r="8"/>
                                        </svg>
                                    </span>
                                    En proceso
                                </p>
                                <!-- Retroalimentación  -->
                                <p *ngIf="join.step == 'inLimbo'" class="my-3 text-truncate">
                                    <span class="text-warning">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-circle-fill" viewBox="0 0 16 16">
                                            <circle cx="8" cy="8" r="8"/>
                                        </svg>
                                    </span>
                                    Retroalimentación
                                </p>
                                <!-- Finalizado  -->
                                <p *ngIf="join.step == 'finished'" class="my-3 text-truncate">
                                    <span class="text-danger">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-circle-fill" viewBox="0 0 16 16">
                                            <circle cx="8" cy="8" r="8"/>
                                        </svg>
                                    </span>
                                    Finalizado
                                </p>
                            </td>
                            <td>
                                <!-- Botón  -->
                                <div class="dropdown my-2 float-end">
                                    <a class="btn btn-dark dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                       Investigar
                                    </a>
                                    <ul class="dropdown-menu dropdown-menu-dark">
                                        <!-- Detalles  -->
                                        <li>
                                            <a class="dropdown-item cursor-pointer" (click)="show_modal_view_join(join, consultation)">Detalles</a>
                                        </li>
                                        <!-- Avanzar  -->
                                        <li *ngIf="join.step == 'inProgress'">
                                            <!-- <a class="dropdown-item cursor-pointer" (click)="show_finish_join_component(join, consultation)">Avanzar</a> -->
                                        </li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- Modal para mostrar la asesoría  -->
<app-view-consultation [flag]="flag_show_consultation" (flag_response)="flag_show_consultation = $event"></app-view-consultation>

<!-- Modal para calificar la asesoría  -->
<app-grade-join [flag]="flag_show_update_join" [join]="found_join" (flag_response)="flag_show_update_join = $event" (refresh_joins)="findAllJoins()"></app-grade-join>

<!-- Modal sobre el asesor  -->
<app-view-user-advisor [flag]="flag_show_user" [user_who_wants_to_see]="user" (flag_response)="flag_show_user = $event"></app-view-user-advisor>