<div class="animate__animated animate__fadeIn">

    <div class="row">
        <div class="col">
            <!-- Titulo  -->
            <h6>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bar-chart" viewBox="0 0 16 18">
                    <path d="M4 11H2v3h2zm5-4H7v7h2zm5-5v12h-2V2zm-2-1a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h2a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM6 7a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v7a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1zm-5 4a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1z"/>
                </svg>
                Estadísticas
            </h6>
            <hr>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col">
            <div class="card shadow">
                <div class="card-header">
                    <!-- Titulo -->
                    <h6 class="text-center my-2">Asesor</h6>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-12 col-md-6 col-lg-6 mb-2 mb-md-0 mb-lg-0">
                            <ul class="list-group">
                                <!-- Código institucional -->
                                <li class="list-group-item list-group-item-action">
                                    <h6>Código institucional</h6>
                                    <p class="my-0">{{my_user?.institutional_code}}</p>
                                </li>
                                <!-- Nombre -->
                                <li class="list-group-item list-group-item-action">
                                    <h6>Nombre(s)</h6>
                                    <p class="my-0">{{my_user?.first_name | titlecase}}</p>
                                </li>
                                <!-- Apellido -->
                                <li class="list-group-item list-group-item-action">
                                    <h6>Apellido(s)</h6>
                                    <p class="my-0">{{my_user?.last_name | titlecase}}</p>
                                </li>
                            </ul>
                        </div>
                        <div class="col-12 col-md-6 col-lg-6">
                            <ul class="list-group">
                                <!-- Correo institucional -->
                                <li class="list-group-item list-group-item-action">
                                    <h6>Correo institucional</h6>
                                    <p class="my-0">{{my_user?.institutional_email | titlecase}}</p>
                                </li>
                                <!-- Teléfono -->
                                <li class="list-group-item list-group-item-action">
                                    <h6>Teléfono</h6>
                                    <p class="my-0">{{my_user?.cellphone_number}}</p>
                                </li>
                                <!-- Rol -->
                                <li class="list-group-item list-group-item-action">
                                    <h6>Rol</h6>
                                    <p class="my-0">{{my_user?.role}}</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <!-- Gráfica -->
            <app-chart-advisor *ngIf="my_user"></app-chart-advisor>
        </div>
    </div>
</div>