<div class="" style="position: fixed; height: 10px; width: 200px; bottom: 150px; right: 20px;">
    <div class="row">
        <div class="col">
            <div class="card shadow d-flex justify-content-between">
                <div class="card-body">
                    <h5 class="m-0 text-center">{{all_my_active_consultations.length}} / {{max_active_consultations}}</h5>
                    <hr class="mt-2 mb-2 m-0">
                    <h6 class="m-0 text-center">
                        <!-- Icono de stack  -->
                        <span>
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-stack-3" width="30" height="30" viewBox="0 0 30 30" stroke-width="1.5" stroke="#00b341" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                <path d="M12 2l-8 4l8 4l8 -4l-8 -4" />
                                <path d="M4 10l8 4l8 -4" />
                                <path d="M4 18l8 4l8 -4" />
                                <path d="M4 14l8 4l8 -4" />
                            </svg>
                        </span>
                        Asesorías activas
                    </h6>
                </div>
            </div>
        </div>
    </div>
</div>