<div class="" style="position: fixed; height: 10px; width: 200px; bottom: 150px; right: 20px;">
    <div class="row">
        <div class="col">
            <div class="card shadow d-flex justify-content-between">
                <div class="card-body">
                    <h5 class="m-0 text-center">{{all_my_active_consultations.length}} / {{max_active_consultations}}</h5>
                    <hr class="mt-2 mb-2 m-0">
                    <h6 class="m-0 text-center">
                        <!-- Icono de stack  -->
                        Asesorías activas
                    </h6>
                </div>
            </div>
        </div>
    </div>
</div>