<!-- Pantalla de carga  -->
<app-loading *ngIf="flag_loading"></app-loading>

<!-- Notificación -->
<p-toast key="serverResponse" position="bottom-center" [breakpoints]="{'920px': {width: '90%', right: '5', left: '5'}}">></p-toast>

<div class="row animate__animated animate__fadeIn">
    <div class="col">
        <!-- Titulo  -->
        <h6 class="text-muted">
            <!-- Icono -->
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-journal-plus" viewBox="0 0 16 18">
                <path fill-rule="evenodd" d="M8 5.5a.5.5 0 0 1 .5.5v1.5H10a.5.5 0 0 1 0 1H8.5V10a.5.5 0 0 1-1 0V8.5H6a.5.5 0 0 1 0-1h1.5V6a.5.5 0 0 1 .5-.5"/>
                <path d="M3 0h10a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-1h1v1a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H3a1 1 0 0 0-1 1v1H1V2a2 2 0 0 1 2-2"/>
                <path d="M1 5v-.5a.5.5 0 0 1 1 0V5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1zm0 3v-.5a.5.5 0 0 1 1 0V8h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1zm0 3v-.5a.5.5 0 0 1 1 0v.5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1z"/>
            </svg>
            Mis asesorías creadas
        </h6>
        <!-- Linea horizontal  -->
        <hr>
        <!-- Card -->
        <div class="card shadow">
            <!-- Header Card -->
            <div class="card-header d-flex justify-content-between align-items-center">
                <!-- Botón para crear asesoría-->
                <!-- <p-button label="Nueva asesoría" styleClass="p-button-raised p-button-success float-end" (onClick)="showModalCreateConsultation()" [disabled]="all_my_active_consultations.length == 5"></p-button> -->
                <button class="btn btn-primary" (click)="showModalCreateConsultation()" [disabled]="ActiveConsultationsCount >= 5">
                    <h6 class="text-light my-2">
                        <!-- Icono de más  -->
                        <span class="text-light">
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-plus" width="20" height="20" viewBox="0 0 30 30" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                <path d="M12 5l0 14" />
                                <path d="M5 12l14 0" />
                            </svg>
                        </span>
                        Crear nueva asesoría
                    </h6>
                </button>
            </div>
            <!-- Body Card -->
            <div class="card-body">
                <!-- Contenedor para la tabla de asesorías -->
                <div class="table-responsive table-responsive-height">
                    <!-- Tabla de asesorías -->
                    <table *ngIf="consultations?.length != 0" class="table table-centered table-nowrap table-hover mb-0">
                        <!-- Cabecera de la tabla -->
                        <thead>
                            <tr>
                                <!-- Imagen -->
                                <th scope="col"></th>
                                <!-- Fecha de creación -->
                                <th scope="col">
                                    <!-- Icono -->
                                    <span class="text-warning">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25   " fill="currentColor" class="bi bi-brightness-alt-high-fill" viewBox="0 0 16 18">
                                            <path d="M8 3a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 3m8 8a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2a.5.5 0 0 1 .5.5m-13.5.5a.5.5 0 0 0 0-1h-2a.5.5 0 0 0 0 1zm11.157-6.157a.5.5 0 0 1 0 .707l-1.414 1.414a.5.5 0 1 1-.707-.707l1.414-1.414a.5.5 0 0 1 .707 0m-9.9 2.121a.5.5 0 0 0 .707-.707L3.05 5.343a.5.5 0 1 0-.707.707zM8 7a4 4 0 0 0-4 4 .5.5 0 0 0 .5.5h7a.5.5 0 0 0 .5-.5 4 4 0 0 0-4-4"/>
                                        </svg>
                                    </span>
                                    Creado
                                </th>
                                <!-- Cátedra -->
                                <th scope="col">
                                    <!-- Icono -->
                                    <span class="text-warning">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-award-fill" viewBox="0 0 16 18">
                                            <path d="m8 0 1.669.864 1.858.282.842 1.68 1.337 1.32L13.4 6l.306 1.854-1.337 1.32-.842 1.68-1.858.282L8 12l-1.669-.864-1.858-.282-.842-1.68-1.337-1.32L2.6 6l-.306-1.854 1.337-1.32.842-1.68L6.331.864z"/>
                                            <path d="M4 11.794V16l4-1 4 1v-4.206l-2.018.306L8 13.126 6.018 12.1z"/>
                                        </svg>
                                    </span>
                                    Cátedra
                                </th>
                                <!-- Asesor -->
                                <th scope="col">
                                    <!-- Icono -->
                                    <span class="text-warning">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 18">
                                            <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6"/>
                                        </svg>
                                    </span>
                                    Asesor
                                </th>
                                <!-- Asesorados -->
                                <th scope="col">
                                    <!-- Icono -->
                                    <span class="text-warning">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-people-fill" viewBox="0 0 16 18">
                                            <path d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6m-5.784 6A2.24 2.24 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.3 6.3 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1zM4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5"/>
                                        </svg>
                                    </span>
                                    No. Asesorados
                                </th>
                                <!-- Estado -->
                                <th scope="col">
                                    <span class="text-warning">
                                        <!-- Icono -->
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-flag-fill" viewBox="0 0 16 18">
                                            <path d="M14.778.085A.5.5 0 0 1 15 .5V8a.5.5 0 0 1-.314.464L14.5 8l.186.464-.003.001-.006.003-.023.009a12 12 0 0 1-.397.15c-.264.095-.631.223-1.047.35-.816.252-1.879.523-2.71.523-.847 0-1.548-.28-2.158-.525l-.028-.01C7.68 8.71 7.14 8.5 6.5 8.5c-.7 0-1.638.23-2.437.477A20 20 0 0 0 3 9.342V15.5a.5.5 0 0 1-1 0V.5a.5.5 0 0 1 1 0v.282c.226-.079.496-.17.79-.26C4.606.272 5.67 0 6.5 0c.84 0 1.524.277 2.121.519l.043.018C9.286.788 9.828 1 10.5 1c.7 0 1.638-.23 2.437-.477a20 20 0 0 0 1.349-.476l.019-.007.004-.002h.001"/>
                                        </svg>
                                    </span>
                                    Activo
                                </th>
                                <!-- Botón -->
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <!-- Cuerpo de la tabla -->
                        <tbody>
                            <!-- Registro  -->
                            <tr *ngFor="let consultation of consultations">
                                <!-- imagen del cuadrado negro-->
                                <td class="">
                                    <figure style="width: 50px; height: 50px; border-radius: 100%; margin-bottom: 0px; background-image: url(../../../assets/images/logo_consultation.png); background-repeat: no-repeat; background-size: cover;"></figure>
                                </td>
                                <!-- Fecha de creación de la asesoría -->
                                <td class="">
                                    <p class="text-muted my-3">{{consultation.date_creation}}</p>
                                </td>
                                <!-- Tema de la asesoría-->
                                <td class="">
                                    <p class="text-muted my-3">{{consultation.subject.name | titlecase}}</p>
                                </td>
                                <!-- Nombre del asesor -->
                                <td class="">
                                    <p class="text-muted my-3">{{consultation.user.first_name | titlecase}} {{consultation.user.last_name | titlecase}}</p>
                                </td>
                                <!-- Numero de asesorados  -->
                                <td>
                                    <p class="text-muted my-3">{{consultation.joins.length}}</p>
                                </td>
                                <!-- Estado de la asesoría-->
                                <td class="">
                                    <p class="text-muted my-3">{{consultation.isActive}}</p>
                                </td>
                                <!-- Botón de detalles-->
                                <td *ngIf="consultation.isActive" class="">
                                    <div class="dropdown float-end my-2">
                                        <a class="btn btn-secondary dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                            <!-- Icono de detalles  -->
                                            <span class="text-light">
                                                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-list-details" width="20" height="20" viewBox="0 0 30 30" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                                    <path d="M13 5h8" />
                                                    <path d="M13 9h5" />
                                                    <path d="M13 15h8" />
                                                    <path d="M13 19h5" />
                                                    <path d="M3 4m0 1a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v4a1 1 0 0 1 -1 1h-4a1 1 0 0 1 -1 -1z" />
                                                    <path d="M3 14m0 1a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v4a1 1 0 0 1 -1 1h-4a1 1 0 0 1 -1 -1z" />
                                                </svg>
                                            </span>
                                            Detalles
                                        </a>
                                        <ul class="dropdown-menu dropdown-menu-dark">
                                            <!-- Botón de detalles de la asesoría  -->
                                            <li>
                                                <a class="dropdown-item cursor-pointer" [ngClass]="{'disabled': !consultation.isActive}" (click)="showModalViewConsultation(consultation)">
                                                    <h6 class="mt-2">
                                                        <span class="text-light">
                                                            <!-- Icono -->
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-journal" viewBox="0 0 16 18">
                                                                <path d="M3 0h10a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-1h1v1a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H3a1 1 0 0 0-1 1v1H1V2a2 2 0 0 1 2-2"/>
                                                                <path d="M1 5v-.5a.5.5 0 0 1 1 0V5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1zm0 3v-.5a.5.5 0 0 1 1 0V8h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1zm0 3v-.5a.5.5 0 0 1 1 0v.5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1z"/>
                                                            </svg>
                                                        </span>
                                                        Asesoría
                                                    </h6>
                                                </a>
                                            </li>
                                            <!-- Botón de asesorados (joins)  -->
                                            <li>
                                                <a class="dropdown-item cursor-pointer" [ngClass]="{'disabled': consultation.joins.length == 0}" (click)="showModalViewJoins(consultation)">
                                                    <h6 class="mt-2">
                                                        <!-- Icono de ojo  -->
                                                        <span class="text-light">
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-people-fill" viewBox="0 0 16 18">
                                                                <path d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6m-5.784 6A2.24 2.24 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.3 6.3 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1zM4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5"/>
                                                            </svg>
                                                        </span>
                                                        Asesorados
                                                    </h6>
                                                </a>
                                            </li>
                                            <!-- Divisor  -->
                                            <li><hr class="dropdown-divider"></li>
                                            <!-- Botón para eliminar la asesoría  -->
                                            <li>
                                                <a class="dropdown-item cursor-pointer" [ngClass]="{'disabled': consultation.joins.length != 0}" (click)="showConfirmationToDelete(consultation)">    
                                                    <h6 class="mt-2">
                                                        <!-- Icono de basura  -->
                                                        <span class="text-light">
                                                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-trash-x" width="20" height="20" viewBox="0 0 30 30" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                                                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                                                <path d="M4 7h16" />
                                                                <path d="M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2 -2l1 -12" />
                                                                <path d="M9 7v-3a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v3" />
                                                                <path d="M10 12l4 4m0 -4l-4 4" />
                                                            </svg>
                                                        </span>
                                                        Eliminar
                                                    </h6>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </td>
                                <td *ngIf="!consultation.isActive" class="">
                                    <h6 class="text-danger float-end mx-4 my-3">Historial</h6>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <!-- No hay registros  -->
                    <h6 *ngIf="consultations?.length == 0" class="text-center text-table-font" style="margin-top: 260px;">
                        <p>No hay registros</p>
                    </h6>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Instrucciones -->
<div class="row mt-3">
    <div class="col">
        <!-- Card -->
        <div class="card shadow">
            <!-- Card-header -->
            <div class="card-header">
                <!-- Titulo -->
                <h6 class="text-center">
                    <!-- Icono -->
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-book" viewBox="0 0 16 18">
                        <path d="M1 2.828c.885-.37 2.154-.769 3.388-.893 1.33-.134 2.458.063 3.112.752v9.746c-.935-.53-2.12-.603-3.213-.493-1.18.12-2.37.461-3.287.811zm7.5-.141c.654-.689 1.782-.886 3.112-.752 1.234.124 2.503.523 3.388.893v9.923c-.918-.35-2.107-.692-3.287-.81-1.094-.111-2.278-.039-3.213.492zM8 1.783C7.015.936 5.587.81 4.287.94c-1.514.153-3.042.672-3.994 1.105A.5.5 0 0 0 0 2.5v11a.5.5 0 0 0 .707.455c.882-.4 2.303-.881 3.68-1.02 1.409-.142 2.59.087 3.223.877a.5.5 0 0 0 .78 0c.633-.79 1.814-1.019 3.222-.877 1.378.139 2.8.62 3.681 1.02A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.293-.455c-.952-.433-2.48-.952-3.994-1.105C10.413.809 8.985.936 8 1.783"/>
                    </svg>
                    Descripción del componente
                </h6>
            </div>
            <!-- Card body -->
            <div class="card-body">
                <!-- Descripción -->
                <p>
                    El componente MIS ASESORÍAS CREADAS en AsesoresApp es util para que los asesores gestionen sus interacciones 
                    y asesorías. características clave:
                </p>
                <h6>Características principales</h6>
                <ul>
                    <li>
                        <h6>Creación de asesorías:</h6>
                        <p>
                            Permite a los asesores iniciar nuevas asesorías, proporcionando una interfaz fácil de usar para configurar detalles esenciales.
                        </p>
                    </li>
                    <li>
                        <h6>Administración centralizada</h6>
                        <p>
                            Ofrece un espacio centralizado para que los asesores visualicen y gestionen todos las asesorías que han creado.
                        </p>
                    </li>
                    <li>
                        <h6>Control de flujo:</h6>
                        <p>
                            Facilita el control del flujo de los asesorados, permitiendo a los asesores clasificarlos como "InProgress", "InLimbo" o "Finished".
                        </p>
                    </li>
                    <li>
                        <h6>Interfaz intuitiva:</h6>
                        <p>
                            Diseñado con una interfaz amigable para una experiencia de usuario fluida y eficiente.
                        </p>
                    </li>
                    <li>
                        <h6>Gestión de participantes:</h6>
                        <p>
                            Permite a los asesores gestionar la participación de los asesorados en sus asesorías de manera efectiva.
                        </p>
                    </li>
                </ul>

            </div>
        </div>
    </div>
</div>

<!-- Barra de progreso para la creación de asesorías  -->
<div class="row animate__animated animate__fadeIn">
    <div class="col-12">       
        <!-- Componente del progressBar  -->
        <app-progress-bar-consultations [uuid_user]="user?.uuid || ''"></app-progress-bar-consultations>
    </div>
</div>

<!-- Modal para crear una asesoría  -->
<app-create-consultation [flag]="flag_create_consultation" [user]="user" (flag_response)="flag_create_consultation = $event" (get_consultations_event)="findAllByUser()"></app-create-consultation>

<!-- Modal para ver la asesoría  -->
<app-view-consultation [flag]="flag_view_consultation" (flag_response)="flag_view_consultation = $event"></app-view-consultation>

<!-- Modal para ver los joins  -->
<app-view-joins [flag]="flag_view_joins" (flag_response)="flag_view_joins = $event"></app-view-joins>

<!-- Confirmación de eliminación de asesoría  -->
<p-confirmDialog [style]="{width: '30vw'}" [breakpoints]="{'960px': '75vw', '640px': '95vw'}"></p-confirmDialog>

<!-- Modal para ver un usuario  -->
<app-view-user-advisor [flag]="flag_view_user" [user_who_wants_to_see]="user" (flag_response)="flag_view_user = $event"></app-view-user-advisor>