<!-- Loading  -->
<app-loading *ngIf="flag_loading"></app-loading>

<!-- Nuevo modal de confirmación de actualización de asesoría (restructured) -->
<p-dialog asesoría="Usuario" [(visible)]="flag" [modal]="true"  [style]="{ width: '30vw' }" [breakpoints]="{'960px': '75vw', '640px': '95vw'}" [draggable]="false" (onHide)="closeModal()">

    <div class="row">
        <div class="col">
            <!-- Linea horizontal  -->
            <hr>
        </div>
    </div>

    <!-- Detalles -->
    <div class="row">
        <div class="col">
            <!-- Card  -->
            <div class="card shadow">
                <!-- Card header  -->
                <div class="card-header">
                    <p class="text-center my-2">Usuario</p>
                </div>
                <!-- Card body  -->
                <div class="card-body">
                    <!-- Detalles -->
                    <div class="row">
                        <div class="col">
                            <ul class="list-group">
                                <!-- Código institucional -->
                                <li class="list-group-item list-group-item-action">
                                    <h6 class="text-muted">Código institucional</h6>
                                    <h6 *ngIf="user_who_wants_to_see?.role == 'admin'" class="my-0">
                                        {{user?.institutional_code}}  
                                    </h6>
                                    <!-- No disponible -->
                                    <h6 *ngIf="user_who_wants_to_see?.role != 'admin'" class="my-0">
                                        No disponible
                                    </h6>
                                </li>
                                <!-- Nombre -->
                                <li class="list-group-item list-group-item-action">
                                    <h6 class="text-muted">Nombre(s)</h6>
                                    <h6 class="my-0">
                                        {{user?.first_name | titlecase}}
                                    </h6>
                                </li>
                                <!-- Apellido -->
                                <li class="list-group-item list-group-item-action">
                                    <h6 class="text-muted">Apellido(s)</h6>
                                    <h6 class="my-0">
                                        {{user?.last_name | titlecase}}
                                    </h6>
                                </li>
                                <!-- Correo institucional -->
                                <li class="list-group-item list-group-item-action">
                                    <h6 class="text-muted">Correo institucional</h6>
                                    <h6 class="my-0">
                                        {{user?.institutional_email | titlecase}}
                                    </h6>
                                    <!-- No disponible -->
                                    <h6 *ngIf="user_who_wants_to_see?.role != 'admin'" class="my-0">
                                        No disponible
                                    </h6>
                                </li>
                                <!-- Teléfono -->
                                <li class="list-group-item list-group-item-action">
                                    <h6 class="text-muted">Teléfono</h6>
                                    <h6 *ngIf="user_who_wants_to_see?.role == 'admin'" class="my-0">
                                        {{user?.cellphone_number}}
                                    </h6>
                                    <!-- No disponible -->
                                    <h6 *ngIf="user_who_wants_to_see?.role != 'admin'" class="my-0">
                                        No disponible
                                    </h6>
                                </li>
                                <!-- Rol -->
                                <li class="list-group-item list-group-item-action">
                                    <h6 class="text-muted">Rol</h6>
                                    <h6 class="my-0">
                                        {{user?.role}}
                                    </h6>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Linea horizontal  -->
    <div class="row">
        <div class="col">
            <hr>
        </div>
    </div>
    
</p-dialog>