<div class="row animate__animated animate__fadeIn">
    <div class="col">
        <!-- Titulo  -->
        <h6 class="">
            <!-- Icono  -->
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-house" viewBox="0 0 16 18">
                <path d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L2 8.207V13.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V8.207l.646.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293zM13 7.207V13.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V7.207l5-5z"/>
            </svg>
            Inicio
        </h6>
        <!-- Linea horizontal  -->
        <hr>
        <!-- <div class="card shadow">
            <div class="row">
                <div class="col-12 col-md-12 col-lg-6 d-flex justify-content-center align-items-center">
                    <div class="card-body my-5 my-md-5 my-lg-0"> -->
                        <!-- Planeta animado  -->
                        <!-- <h1 class="text-center planet_animation">
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-planet" width="50" height="50" viewBox="0 0 25 25" stroke-width="1.5" stroke="#000000" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                <path d="M18.816 13.58c2.292 2.138 3.546 4 3.092 4.9c-.745 1.46 -5.783 -.259 -11.255 -3.838c-5.47 -3.579 -9.304 -7.664 -8.56 -9.123c.464 -.91 2.926 -.444 5.803 .805" />
                                <path d="M12 12m-7 0a7 7 0 1 0 14 0a7 7 0 1 0 -14 0" />
                            </svg>
                        </h1> -->
                        <!-- Titulo  -->
                        <!-- <h2 class="text-center">
                            AsesoresApp
                        </h2> -->
                        <!-- Párrafo slogan-->
                        <!-- <p class="text-center">
                            ¡Por que entre nosotros nos apoyamos!
                        </p>
                    </div>
                </div> -->
                <!-- Imagen del spaceman -->
                <!-- <div class="col-12 col-md-12 col-lg-6">
                    <img class="card-img-top img-fluid" src="../../../assets/images/space.jpg" alt="spaceman">
                </div>
            </div>
        </div> -->
        <!-- Linea horizontal  -->
        <!-- <hr> -->
        <!-- Mapa -->
        <app-map></app-map>
    </div>
</div>

<div class="row mt-4">
    <!-- ¿Que es asesores app? -->
    <div class="col-12 col-md-12 col-lg-6">
        <div class="card h-100 shadow">
            <div class="card-body px-5 py-5">
                <!-- Titulo  -->
                <h6 class="">¿Qué es AsesoresApp?</h6>
                <hr>
                <!-- Descripción  -->
                <h6 class="text-muted">
                    <p>
                        AsesoresApp es la herramienta digital líder en la administración 
                        de asesoramientos en el centro universitario de ciencias exactas 
                        e ingenierías, ¡pero hay más! También cuenta con un emocionante 
                        sistema de recompensas para motivar a los estudiantes a brindar 
                        asesoramientos. Todo diseñado para hacer que el aprendizaje sea 
                        aún más gratificante. 
                    </p>
                    <p>
                        AsesoresApp está en versión beta, lo que significa que todavía 
                        estamos puliendo detalles. Puede tener algunos errores, ¡pero 
                        no te preocupes! Estamos trabajando para resolverlos con el tiempo.
                    </p>
                </h6>
            </div>
        </div>
    </div>
    <!-- Donde nace AsesoresApp -->
    <div class="col-12 col-md-12 col-lg-6 mt-3 mt-lg-0">
        <div class="card h-100 shadow">
            <div class="card-body px-5 py-5">
                <!-- Titulo  -->
                <h6 class="">¿Donde nace AsesoresApp?</h6>
                <hr>
                <!-- Descripción  -->
                <h6 class="text-muted">
                    <p>
                        AsesoresApp, anteriormente conocido como TutoresApp, nació en 2022 con 
                        la misión de combatir el rezago escolar en nuestro centro universitario. 
                        Inicialmente, la idea se prototipó en 2023, pero la ejecución no fue la 
                        mejor. Sin embargo, ¡la historia no termina ahí! A finales de 2023, surgió 
                        una nueva oportunidad y decidimos implementar AsesoresApp en el centro 
                        universitario. En solo 4 meses, desde la conceptualización hasta el 
                        prototipo, y ¡boom!, aquí estamos.
                    </p>
                </h6>
            </div>
        </div>
    </div>
</div>

<div class="row my-4">
    <div class="col">
        <div class="card h-100 shadow">
            <div class="card-body px-5 py-5">
                <!-- Titulo  -->
                <h6 class="">
                    ¿Que acciones puedo realizar en AsesoresApp?
                </h6>
                <!-- Linea vertical -->
                <hr>
                <!-- Descripción  -->
                <div class="row">
                    <!-- Para estudiantes -->
                    <div class="col-12 col-md-12 col-lg-6">
                        <h6 class="text-muted">
                            <p>
                                <strong>Como estudiante:</strong><br>
                            </p>
                            <ul class="list-group">
                                <li class="list-group-item list-group-item-action" style="cursor: pointer;">
                                    <!-- Icono  -->
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 18">
                                        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
                                    </svg>
                                    Buscar asesoramientos.
                                </li>
                                <li class="list-group-item list-group-item-action" style="cursor: pointer;">
                                    <!-- Icono -->
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 18">
                                        <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143q.09.083.176.171a3 3 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15"/>
                                    </svg>
                                    Unirte a los asesoramientos.
                                </li>
                                <li class="list-group-item list-group-item-action" style="cursor: pointer;">
                                    <!-- Icono -->
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-check-fill" viewBox="0 0 16 18">
                                        <path fill-rule="evenodd" d="M15.854 5.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 0 1 .708-.708L12.5 7.793l2.646-2.647a.5.5 0 0 1 .708 0"/>
                                        <path d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6"/>
                                    </svg>
                                    Calificar los asesoramientos.
                                </li>
                            </ul>
                        </h6>
                    </div>
                    <!-- Para asesores -->
                    <div class="col-12 col-md-12 col-lg-6">
                        <h6 class="text-muted">
                            <p>
                                <strong>Como asesor:</strong><br>
                            </p>
                            <ul class="list-group">
                                <li class="list-group-item list-group-item-action" style="cursor: pointer;">
                                    <!-- Icono  -->
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 18">
                                        <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/>
                                    </svg>
                                    Crear asesoramientos.
                                </li>
                                <li class="list-group-item list-group-item-action" style="cursor: pointer;">
                                    <!-- Icono -->
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check2-square" viewBox="0 0 16 18">
                                        <path d="M3 14.5A1.5 1.5 0 0 1 1.5 13V3A1.5 1.5 0 0 1 3 1.5h8a.5.5 0 0 1 0 1H3a.5.5 0 0 0-.5.5v10a.5.5 0 0 0 .5.5h10a.5.5 0 0 0 .5-.5V8a.5.5 0 0 1 1 0v5a1.5 1.5 0 0 1-1.5 1.5z"/>
                                        <path d="m8.354 10.354 7-7a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0"/>
                                    </svg>
                                    Dar de alta a los estudiantes.
                                </li>
                                <li class="list-group-item list-group-item-action" style="cursor: pointer;">
                                    <!-- Icono -->
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-coin" viewBox="0 0 16 18">
                                        <path d="M5.5 9.511c.076.954.83 1.697 2.182 1.785V12h.6v-.709c1.4-.098 2.218-.846 2.218-1.932 0-.987-.626-1.496-1.745-1.76l-.473-.112V5.57c.6.068.982.396 1.074.85h1.052c-.076-.919-.864-1.638-2.126-1.716V4h-.6v.719c-1.195.117-2.01.836-2.01 1.853 0 .9.606 1.472 1.613 1.707l.397.098v2.034c-.615-.093-1.022-.43-1.114-.9zm2.177-2.166c-.59-.137-.91-.416-.91-.836 0-.47.345-.822.915-.925v1.76h-.005zm.692 1.193c.717.166 1.048.435 1.048.91 0 .542-.412.914-1.135.982V8.518z"/>
                                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                                        <path d="M8 13.5a5.5 5.5 0 1 1 0-11 5.5 5.5 0 0 1 0 11m0 .5A6 6 0 1 0 8 2a6 6 0 0 0 0 12"/>
                                    </svg>
                                    Obtener puntos por cada asesoramiento realizado.
                                </li>
                            </ul>
                        </h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Botón de chat  --> 
<div style="display: flex; position: fixed; right: 50px; bottom: 50px; z-index: 99;">
    <button class="btn btn-dark" (click)="showChat()">
        <div class="spinner-grow spinner-grow-sm text-danger me-2" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        ASTRO
    </button>
</div>

<!-- Modal del chat  -->
<app-chat [flag]="flag_show_chat" [instructions]="instructions" (flag_response)="flag_show_chat = $event"></app-chat>