<!-- Loading  -->
<app-loading *ngIf="flag_loading"></app-loading>

<!-- Nuevo modal para ver la asesoría (restructured)-->
<p-dialog asesoría="Asesoría" [(visible)]="flag" [modal]="true" [style]="{ width: '30vw', height: '45vh' }" [breakpoints]="{'960px': '75vw', '640px': '95vw'}" [draggable]="false" (onHide)="closeModal()">


    <div class="row">
        <div class="col">
            <div class="card shadow">
                <div class="card-header">
                    <p class="text-center mb-0">Asesoramiento</p>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-12 col-md-6 col-lg-6">
                            <ul class="list-group">
                                <!-- Fecha -->
                                <li class="list-group-item list-group-item-action">
                                    <h6 class="text-center">Fecha de creación</h6>
                                    <p class="my-0 text-center">{{consultation?.date_creation}}</p>
                                </li>
                                <!-- Cátedra -->
                                <li class="list-group-item list-group-item-action">
                                    <h6 class="text-center">Cátedra</h6>
                                    <p class="my-0 text-center">{{consultation?.subject?.name | titlecase}}</p>
                                </li>
                                <!-- Asesor -->
                                <li class="list-group-item list-group-item-action">
                                    <h6 class="text-center">Asesor</h6>
                                    <p class="my-0 text-center">{{consultation?.user?.first_name | titlecase}} {{consultation?.user?.last_name | titlecase}}</p>
                                </li>
                            </ul>
                        </div>
                        <div class="col-12 col-md-6 col-lg-6">
                            <ul class="list-group">     
                                <!-- Día -->
                                <li class="list-group-item list-group-item-action">
                                    <h6 class="text-center">Día</h6>
                                    <p class="my-0 text-center">{{consultation?.day | titlecase}}</p>
                                </li>
                                <!-- Horario -->
                                <li class="list-group-item list-group-item-action">
                                    <h6 class="text-center">Horario</h6>
                                    <p class="my-0 text-center">De {{consultation?.start}}:00 a {{consultation?.end}}:00</p>
                                </li>
                                <!-- Numero de joins -->
                                <li class="list-group-item list-group-item-action">
                                    <h6 class="text-center">Joins creados</h6>
                                    <p class="my-0 text-center">{{consultation?.joins?.length}}</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</p-dialog>