<!-- Pantalla de carga  -->
<app-loading *ngIf="flag_loading"></app-loading>

<!-- Notificación -->
<p-toast key="serverResponse" position="bottom-center" [breakpoints]="{'920px': {width: '90%', right: '5', left: '5'}}">></p-toast>

<!-- Modal  -->
<p-dialog header="Nueva cuenta" [closable]="false" [(visible)]="flag_create_user" [modal]="true" [style]="{ width: '30vw' }" [breakpoints]="{'960px': '75vw', '640px': '95vw'}" [draggable]="false" [closable]="true" (onHide)="closeModal()">
    <!-- Formulario -->
    <div class="row">
        <div class="col">
            <form [formGroup]="form">
                <!-- Código institucional -->
                <div class="form-floating mb-3 mt-1">
                    <input type="text" class="form-control" placeholder="code" formControlName="institutional_code">
                    <label for="floatingInput" class="text-table-font">Código institucional</label>
                </div>
                <!-- email institucional -->
                <div class="form-floating mb-3">
                    <input type="email" class="form-control" placeholder="email" formControlName="institutional_email">
                    <label for="floatingInput" class="text-table-font">Correo institucional</label>
                    <span *ngIf="getError('institutional_email')" class="text-danger">Este campo es obligatorio y debe tener un correo válido.</span>
                </div>
                <!-- Role -->
                <div class="form-floating mb-3">
                    <select class="form-select text-table-font" aria-label="Floating label select example" formControlName="role">
                      <option value="student" selected>Estudiante</option>
                      <option value="advisor">Asesor</option>
                    </select>
                    <label for="floatingSelect" class="text-table-font">Role seleccionado</label>
                </div>
                <!-- Nombre -->
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" placeholder="fisrt_name" formControlName="first_name">
                    <label for="floatingInput" class="text-table-font">Nombre(s)</label>
                    <span *ngIf="getError('first_name')" class="text-danger">Este campo es obligatorio y debe tener un mínimo de 3 caracteres.</span>
                </div>
                <!-- Apellido -->
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" placeholder="last_name" formControlName="last_name">
                    <label for="floatingInput" class="text-table-font">Apellido(s)</label>
                    <span *ngIf="getError('last_name')" class="text-danger">Este campo es obligatorio y debe tener un mínimo de 3 caracteres.</span>
                </div>
                <!-- numero de celular -->
                <div class="form-floating mb-3">
                    <input type="number" class="form-control" placeholder="phone_number" formControlName="cellphone_number">
                    <label for="floatingInput" class="text-table-font">Número de celular</label>
                    <span *ngIf="getError('cellphone_number')" class="text-danger">Este campo es obligatorio.</span>
                </div>
                <!-- Contraseña -->
                <div class="form-floating mb-3">
                    <input type="password" class="form-control" placeholder="password" formControlName="password">
                    <label for="floatingInput" class="text-table-font">Password</label>
                    <span *ngIf="getError('password')" class="text-danger">Este campo es obligatorio y debe tener un mínimo de 8 caracteres.</span>
                </div>
                <!-- Confirmar contraseña -->
                <div class="form-floating mb-3">
                    <input type="password" class="form-control" placeholder="password" formControlName="password2">
                    <label for="floatingInput" class="text-table-font">Confirmar password</label>
                    <span *ngIf="getError('password2')" class="text-danger">Está contraseña debe coincidir con la primera.</span>
                </div>
            </form>
        </div>
    </div>

    <!-- Linea horizontal  -->
    <div class="row">
        <div class="col">
            <hr>
        </div>
    </div>

    <!-- Botones-->
    <div class="row">
        <div class="col">
            <!-- crear -->
            <button type="button" class="btn btn-dark float-end" data-bs-dismiss="modal" (click)="signUp()" [disabled]="form.invalid">Crear</button>
            <!-- cerrar  -->
            <button type="button" class="btn btn-dark float-start" data-bs-dismiss="modal" (click)="closeModal()">Cerrar</button>
        </div>
    </div>
</p-dialog>