
<div class="row mb-3">
    <!-- Promedio y puntos  -->
    <div class="col-12 col-md-12 col-lg-6">
        <div class="card shadow">
            <div class="card-body">
                <!-- Promedio  -->
                <div class="row">
                    <div class="col">
                        <p class="float-start my-1"><strong>Promedio:</strong></p>
                        <p *ngIf="user_average" class="float-end my-1">{{user_average | number: '1.2-2'}}</p>
                        <p *ngIf="!user_average" class="float-end my-1">Sin promedio</p>
                    </div>
                </div>
                <!-- Servicio social  -->
                <div class="row">
                    <div class="col">
                        <p class="float-start my-1"><strong>Puntos:</strong></p>
                        <p class="float-end my-1">{{user_points}}pts</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Rango y servicio social  -->
    <div class="col-12 col-md-12 col-lg-6 mt-3 mt-md-3 mt-lg-0">
        <div class="card shadow">
            <div class="card-body">
                <!-- Rango  -->
                <div class="row">
                    <div class="col">
                        <p class="float-start my-1"><strong>Rango:</strong></p>
                        <p class="float-end my-1">{{rank}}</p>
                    </div>
                </div>
                <!-- Servicio social  -->
                <div class="row">
                    <div class="col">
                        <p class="float-start my-1"><strong>Servicio social:</strong></p>
                        <p class="float-end my-1">{{ (100/500)*user_points | number: '2.2-2'}}%</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
 